{% extends 'base.html' %}

{% block content %}

<section class="hero">
    <h1 class="hero-title">Virtual Life</h1>
    <p class="hero-text">
        Seu santuário digital personalizado onde emoções,
        interesses e estética neon se fundem.
    </p>
    <div class="hero-buttons">
        <a href="/registrar" class="primary-btn">Iniciar jornada</a>
        <a href="/login" class="secondary-btn">Login</a>
    </div>
</section>

<section class="cards">
    <div class="feature-card">
        <div class="feature-icon">♡</div>
        <h2>Acompanhe seu humor</h2>
        <p>As emoções se transformam em experiências visuais em seu ambiente digital personalizado.</p>
    </div>
    <div class="feature-card">
        <div class="feature-icon">✦</div>
        <h2>Compartilhe seus interesses </h2>
        <p>Crie um perfil envolvente com suas músicas favoritas, hobbies e estéticas.</p>
    </div>
</section>

<section class="cards second-cards">
    <div class="feature-card">
        <div class="feature-icon">🎨</div>
        <h2>Personalize tudo</h2>
        <p>Escolha cores exatas, temas dinâmicos e ambientes que combinem perfeitamente com a sua personalidade.</p>
    </div>
    <div class="feature-card">
        <div class="feature-icon">✧</div>
        <h2>Estética mágica</h2>
        <p>Vivencie um mundo gamer onírico com efeitos neon brilhantes e animações extremamente fluidas.</p>
    </div>
</section>

<section class="cta-section">
    <a href="/registrar" class="magic-btn">Entre com sua magia</a>
    <p class="cta-text">
       Pronto para a aventura?<a href="/login"> Faça Login </a>
    </p>
</section>

{% endblock %}